@font-face {
    font-family: 'Armata';
    src: url('../fonts/ArmataHL.otf')
}

@media (max-width: 768px) {
    #container {
      flex-direction: column;
    }
}

#container {
    display: flex;
    flex-wrap: wrap;
}

/* #create-column {
    flex: 1;
    background-color: #403c3c;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    padding-top: 300px;
} */

#h1 {
    font-family: 'Armata', serif;
    color: #ffffff;
    font-size: 90px;
    font-weight: lighter;
    text-align: center;
    padding: 25px;
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

#create {
    margin-bottom: 15px;
    margin-top: 20px;
}

#name {
    font-family: 'Armata', 'serif';
    font-size: 40px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    display: block;
    margin-bottom: -25px;
}

#email {
    font-family: 'Armata', 'serif';
    font-size: 40px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    display: block;
    margin-bottom: -25px;
}

#password {
    font-family: 'Armata', 'serif';
    font-size: 40px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    display: block;
    margin-bottom: -25px;
}

#confirm-password {
    font-family: 'Armata', 'serif';
    font-size: 40px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    display: block;
    margin-bottom: -25px;
}

#cf {
    background-color: #908c8c;
    padding: 10px;
    width: 500px;
    height: 25px;
    align-self: flex-start;
    border: none;
}

/* #create-img {
    width: 100%;
    height: 100%;
    background-position: center;
    overflow: hidden;
    object-fit: cover;
} */

/* #image-column {
    flex: 1;
    order: 2;
}

#column {
    position: relative;
    z-index: 1;
} */

.create-img img {
    width: 100%;
    height: 100vh;
    background-position: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.Create {
    align-items: center;
    display: flex;
    text-align: left;
    margin-left: 225px;
}

#image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    z-index: 0;
}

#create-img {
    width: 100%;
    height: 100%;
    background-position: center;
    overflow: hidden;
}

#create-column {
    flex: 1;
    background-color: #403c3c;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-column {
    flex: 1;
}

#create-img {
    width: 100%;
    height: 100%;
    background-position: center;
    overflow: hidden;
    object-fit: cover;
}

@media (max-width: 768px) {
    #container {
      flex-direction: column;
    }
}

#create-column {
    order: 1;
}

#image-column {
    order: 2;
}

#ch1 {
    font-family: 'Armata', serif;
    color: #ffffff;
    font-size: 90px;
    font-weight: lighter;
    text-align: center;
    padding: 25px;
}

#ch2{
    font-family: 'Armata', serif;
    font-size: 70px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    margin-left: 50%x;
    margin-bottom: 20px;
}

#button-create {
    font-family: 'Armata', 'serif';
    font-size: 25px;
    background-color: #5094cc;
    color: white;
    border: none;
    border-radius: 24px;
    height: 50px;
    width: 200px;
    margin-top: 10px;

}

#button-login {
    font-family: 'Armata', 'serif';
    font-size: 25px;
    background-color: #5094cc;
    color: white;
    border: none;
    border-radius: 24px;
    height: 50px;
    width: 175px;
    margin-top: 10px;

}