/* 
#0C2D57
#FC6736
#FFB0B0
#EFECEC
*/


#fish-analyctics{
    height: 1000px;
    overflow: auto;
    margin-top: 5%;
}

.outerbox-f{
    width: 90%;
    height: 1000px;
    margin: 90px auto;
    position: relative;
    display:flex;
}

.video-container{
    background-color: #fa774c;
    width: 600px;
    height: fit-content;
    padding: 20px 20px;
    border-radius: 8px;
    position: fixed;
}

#h1-fv{
    text-align: center;
    font-size: 60px;
    font-style: italic;
    color: #0C2D57
}

#h1-fs{
    text-align: center;
    font-size: 60px;
    color: #0C2D57
}

#h2-fn{
    text-align: left;
    font-size: 40px;
    color: #0C2D57;
    margin-bottom: 40px;
}

.fishes{
    background-color: #fa774c;
    width: 600px;
    height: fit-content;
    padding: 20px 20px;
    margin-left: 50%;
    border-radius: 10px;
    position: relative;
    align-items: center;
}

.fish{
    background-color: #FFB0B0;
    width: 90%;
    position: relative;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

#f-text{
    text-align: left;
    font-size: 20px;
    margin-bottom: 30px;
    color: #0C2D57;
    font-weight: 500;
}

#f-bmenu{
    cursor: pointer;
    width: inherit;
    background-color:#ffd1d1;
    padding: 20px;
    text-align: left;
    color: #0C2D57
}

#f-behaviour{
    cursor: pointer;
    text-align: left;
    color: #0C2D57
}

#f-behaviour ul{
    width: inherit;
    list-style: none;
    padding-left: 0%;
    margin: 0%;
    height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
}

#f-behaviour li{
    background-color: #ffc4c4;
    width: inherit;
    list-style: none;
    padding: 5%;
    padding-left: 50px;
    border: solid 2px;
    border-color: #FFB0B0;
    height: max max-content;
}

#ddSign{
    text-align: right;
    font-weight: 700;
    padding-left: 60%;
}