.nav{
    overflow: hidden;
    background-color: #0844ac;
    padding: 90px 10px;
    transition: 0.4s;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
}

.nav button{
    border: none;
    float: inline-end;
    padding: 0;
    cursor: pointer;
}

.nav button:not(:last-child){
    border-bottom: none;
}

#navhome {
    background-image: url(../pictures/home.png);
    background-color: transparent;
    width: 150%;
    height: 150px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
}

#navhome:hover{
    background-color: #08398d;
    transition: 0.4s;
}
#navhome:focus{
    background-color: #08398d;
    transition: 0.4s;
}
#navhome:active{
    background-color: #08398d;
    transition: 0.4s;
}

#navhometext {
    opacity: 0;
    transition: 0.4s;
}

#navuser {
    background-color: #073e9e;
    background-image: url(../pictures/user.png);
    width: 150%;
    height: 150px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
}

#navuser:hover{
    background-color: #08398d;
    transition: 0.4s;
}

#navfish {
    background-image: url(../pictures/fish.png);
    background-color: transparent;
    width: 150%;
    height: 150px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
}

#navfish:hover{
    background-color: #08398d;
    transition: 0.4s;
}

#navinfo {
    background-image: url(../pictures/info.png);
    background-color: transparent;
    width: 150%;
    height: 150px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
}

#navinfo:hover{
    background-color: #08398d;
    transition: 0.4s;
}

#navsettings {
    background-image: url(../pictures/gear.png);
    background-color: transparent;
    width: 150%;
    height: 150px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
}

#navsettings:hover{
    background-color: #08398d;
    transition: 0.4s;
}

#nav-button{
    display: none;
}

.outerbox-hp {
    background-color: #d9d9d9;
    padding: 30px;
    width: 50%;
    margin: auto;
    display: absolute;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.Homepage {
    background-color: #403c3c;
}

.page{
    overflow-y: scroll;
    height: 920px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a5a5a5;
    border-radius: 30px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8d8d8d; 
}

#nav-small-bar{
    display:none
}

@media screen and (max-width: 920px) {
    .nav {
        flex-direction: column;
        display: none;
    }

    #nav-small-bar{
        display: flex;
        width: 150%;
        height: 100px;
        overflow: hidden;
        background-color: #0844ac;
        margin-bottom: 30px;
    }

    #nav-button{
        display:flex;
        overflow: hidden;
        background-image: url(../pictures/nav-button-icon.png);
        background-color: transparent;
        width: 200%;
        height: 150px;
        padding: 0;
        background-position: left;
        background-repeat: no-repeat;
    }

    #nav-button:focus{
        display:flex
    }
}