.popup-box{
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); 
}
.popup-inner{
    animation: slide-up cubic-bezier(0.2, 0.2, 0.2, 1) 400ms backwards;
    position: relative;
    top: -50px;
    width:600px;
    height: 600px;
    background-color: #d9d9d9;
    border-radius: 10px;
    border: 1px solid #3d3d3d;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.1);
}
.popup-box[close]{
    pointer-events: none;
    animation: fade-out 150ms forwards;
}

.popup-topbar{
    width:600px;
    height: 35px;
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
    background-color: #bdbdbd;
    border-bottom: 1px solid #949494;
    position: relative;
}
.popup-topbar label{
    margin-top: 4px;
}
.popup-topbar button{
    height: 100%;
    width:35px;
    position:absolute;
    right:0;
    border: none;
    border-top-right-radius:10px;
    background-color: #a9abad;
}
.popup-topbar button:hover{
    background-color: #ff000094;
}

.popup-info-display{
    position: relative;
    padding: 20px;
}
.popup-section1{
    width:50%;
    height: 230px;
    position: absolute;
}
.popup-section1 p{
    padding-right:40px;
    padding-left: 25px;
    text-align: left;
}
.popup-section1 .element-label{
    font-weight: 600;
}
.popup-section1 .info-label{
    font-weight: normal;
    display: inline;
}


.popup-section0{
    width:50%;
    top: 250px;
    height: 50px;
    position: absolute;
}
.popup-section0 button{
    margin-top: 5px;
    width:80px;
    height:30px;
}

.popup-section2{
    position:absolute;
    right:20px;
    top:20px;
    width:280px;
    height: 280px;
    background-color: #756e6e;
    
}
.popup-temp{
    font-weight: 100;
    margin-top: 125px;
}

.popup-section3{
    position: absolute;
    bottom: -500px;
    width: 520px;
    height: 220px;
    padding-left: 20px;
    padding-right: 20px;
    border: inset;
    border-width: 1.5px;
    overflow-y: auto;
    background-color: #bdbdbd;
}
.popup-info{
    font-weight: 200;
    text-align: left;
}

/*popup animations*/
@keyframes fade-out {
    100%{
        opacity: 0;
    }
    0%{
        opacity: 1;
    }
}
@keyframes slide-up {
    0%{
        transform: translateY(100%);
    }
    100%{
        opacity: translateY(0%);
    } 
}
