/* .row {
    display: flex;
    flex-direction: row;
} */

/* .wrap-popup{
    background-color:  #d9d9d9;
    width: 80%;
    height: 800px;
    padding: 20px 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid solid none solid;
    border-width: 1.5px;
    border-color: #a8adb1;
    display:none;
} */

.wrap-list-customize {
    
    /* margin-left: 0.5vw; */
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    /* width: fit-content; */
    height: fit-content;
    align-items: center;
    z-index: 1;
    /* margin-left: 3vw; */
    color: #646464;
    background-color: #bdd0df;
    padding: 0.5vh 2vw;
    border-color: #7f94a5;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}

/* .wrap-list-customize */

/* .wrap-list-customize h2 {
    font-size: 1em;
    margin: auto;
} */

.wrap-list-customize label {
    font-size: 15px;
    margin: auto;
    /* margin-top: 2vh; */
    margin-left: 1vw;

}

.wrap-list-customize.visible {
    display: flex;
}

.wrap-list-customize.hidden {
    display: none;
}

.not-btn {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5%;
}

/*SEARCH BAR*/
.wrap-search-pf{
    background-color: white;
    padding: 20px;
    /* height: 0.75vh; */
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1vh;
    border-color: #7f94a5;
}

.wrap-search-pf form{
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 5vh;
    width: 100%;
    border-style: none;
    background-color: white;
    border-radius: 4px;
    display:flex;
    flex-direction: row;
    align-items: center;
    /* padding: 0px; */
}

.wrap-search-pf form input{
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 600;
    padding:5px 8px 5px 8px;
    background-color: white;
    height: fit-content;
    color: #525252;
    /* margin-right: 5vw; */
}

.wrap-search-pf form i{
    padding:5px 8px 5px 10px;
    color: #818181;
    top: 0px;
    left: 0px;
}

.wrap-display-pf{
    border-radius: 2px;
    background: #bcd3e5;
    height: 60vh;
    border-style: none;
    overflow-y: scroll;
}

.info-fish-plant{
    width: 100%;
    height: calc(100vh - 83px - 2vmin);
    margin-top: calc(83px + 2vmin);
    overflow-y: auto;
}
.outerbox-p{
    width: 80%;
    margin:auto;
    margin-top: 40px;
    position: relative;
    display:flex;
    /* flex-direction: row !important; */
    /* border: solid 1px #c0c0c0; */

    /* font-size: 1.17em; 
    margin: 0.67em ; */
}

.outerbox {
    position: relative;
    overflow-y: auto;
    width:75%;
}
.wrap-toggle-pf{
    display: flex;
    gap: 3px;
    /* padding: 0px 20px 0px 20px; */
    width: calc((100vw - 4.25vh - 2vmin) * 0.4905 + 42px);
    position: relative;
    /* width: 62.75%; */
    /* width: calc(49.8vw); */
    margin-bottom: -4.25vh;
    z-index: 1;
    /* margin-left: 5vw; */
}

.wrap-toggle-pf button{
    position: relative;
    /* width: 55%; */
    height: 40px;
    border-style: solid solid none solid !important;
    border-color: #7f94a5;
    border-width: 1px;
    border-radius: 5px 5px 0px 0px;
    /* border-color: #475d6e; */
    /* background-color: #d9d9d9; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1em;
    color: #525252;

}

.searchbox-pf{
    display: grid;
    height: calc(100vh - 163px - 2vmin);
    width: calc((100vw - 4.25vh - 2vmin) * 0.4905);

    
    /* border-radius: 2px; */
    /* + */

    grid-template-columns: 1fr;
    /* flex-direction: column; */
    position: relative;
    margin-top: 4.25vh;
    margin-bottom: 5vh;
    background-color:  #9db8cc;
    /* background-color: #7c93a5; */
    /* width: 47.6vw; */

    /* height: 70vh; */

    padding: 20px 20px;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #7f94a5;
    border-radius: 0px 0px 5px 5px;
    min-width: 0;
    /* border: 2px solid red; */
    flex-grow: 1;
    flex-shrink: 1;
}


.wrap-stats-pf{

    height: 87.5vh;
    width: 42%;
    position: relative;
    /* margin-left: 1%; */
    background: #cbd9c6;
    border-style: solid;
    border-width: 1px;
    border-color: #869481;
    border-radius: 5px;
    color: #646464;
    font-size: x-large;
    font-weight: bold;
    /* position: absolute;
    height: calc(100vh - 125px - 2vmin);
    width: calc((100vw - 4.25vh - 2vmin) * 0.277);
    right: 10%;

    /* width: 34%; */

    /* padding: 20px 20px;


    display: grid; */
    /* grid-template-columns: 1fr; */
}
.wrap-s2-pf{
    background-color: #d9e4d5;
    padding-left: 50px;
    padding-right: 20px;
    height: 150px;
    border-color: #869481;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    overflow-y: auto;
    margin: 20px;
    font-size: large;
}
.wrap-s3-pf{
    background-color: #d9e4d5;
    padding-left: 50px;
    padding-right: 20px;
    height: 200px;
    border-color: #869481;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    margin: 20px;
    font-size: large;
}

.pf-p2{
    font-weight: 600;
    text-align: left;
    text-indent: -30px;
}
.pf-p3{
    font-weight: normal;
    display: inline;
}



.wrap-toggle-pf button{
    position: relative;
    width: 55%;
    height: 40px;
    border-style: solid solid none solid !important;
    border-color: #7f94a5;
    border-width: 1px;
    border-radius: 5px 5px 0px 0px;
    /* border-color: #475d6e; */
    /* background-color: #d9d9d9; */
    /* color: #3a3a3a; */

}

.btnItem{
    width: 100%;
    height: 80px;
    color: #818181;
    border-style: none none solid none;
    background-color: #e6f0f7;
    border-color: #b5c6d3;
}

.btnItem:focus,
.wrap-toggle-pf button:focus {
    border-style: none;
}

.check {
    accent-color: #8284ad;
    border-style: none;
}
