.row {
    display: flex;
    flex-direction: row;
}

.wrap-popup{
    background-color:  #d9d9d9;
    width: 80%;
    height: 800px;
    padding: 20px 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-style: solid solid none solid;
    border-width: 1.5px;
    border-color: #a8adb1;
    display:none;
}

.wrap-list-customize {
    margin-top: 2.5vh;
    position: absolute;
    display: flex !important;
    flex-direction: row;
    font-size: 1em;
    width: fit-content;
    z-index: 1;
    margin-left: 3vw;
    color: #646464;
}

.wrap-list-customize h2 {
    font-size: 1em;
}

.wrap-list-customize label {
    font-size: 15px;
    margin-top: 2vh;
    margin-left: 1vw;
}

/*SEARCH BAR*/
.wrap-search-pf{
    background-color: white;
    padding: 20px;
    height: 0.75vh;
    border-style: none;
    border-radius: 4px;
    position: relative;
    align-items: center;
}

.wrap-search-pf form{
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 5vh;
    width: 35vw;
    border-style: none;
    background-color: white;
    border-radius: 4px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0px !important;
}

.wrap-search-pf form input{
    width:100%;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 600;
    padding:5px 8px 5px 8px;
    background-color: white;
    /* margin-right: 5vw; */
}

.wrap-search-pf form i{
    padding:5px 8px 5px 10px;
    color: #818181;
}

.wrap-display-pf{
    border-radius: 2px;
    background: #c7c7c7;
    height: 50vh;
    border-style: none;
    overflow-y: scroll;
    margin-top: 6vh;
}

.info-fish-plant{
    height: 1000px;
    margin-top: calc(83px + 2vmin);
    overflow: auto;
}
.outerbox-p{
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display:flex;
    flex-direction: column;
}
.searchbox-pf{
    /* border-radius: 2px; */
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4.25vh;
    background-color:  #9db8cc;
    /* background-color: #7c93a5; */
    width: 35vw;
    /* height: 70vh; */
    height: fit-content;
    padding: 20px 20px;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: #7f94a5;
    border-radius: 0px 0px 5px 5px;
    margin-left: 5vw;
}

.wrap-stats-pf{
    position: relative;
    margin-left: 5px;
    background: #cbd9c6;
    width: 30%;
    height: 57vh;
    padding: 20px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #869481;
    border-radius: 5px;
    margin-left: 45vw;
    margin-top: -65vh;
    color: #646464;
}
.wrap-s2-pf{
    background-color: #d9e4d5;
    padding-left: 50px;
    padding-right: 20px;
    height: 150px;
    border-color: #869481;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    overflow-y: auto;
}
.wrap-s3-pf{
    background-color: #d9e4d5;
    padding-left: 50px;
    padding-right: 20px;
    height: 200px;
    border-color: #869481;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}
.pf-p2{
    font-weight: 600;
    text-align: left;
    text-indent: -30px;
}
.pf-p3{
    font-weight: normal;
    display: inline;
}

.wrap-toggle-pf{
    display: flex;
    gap: 3px;
    position: absolute;
    width: 37.15vw;
    margin-left: 5vw;
}

.wrap-toggle-pf button{
    width: 50%;
    height: 40px;
    border-style: solid solid none solid !important;
    border-color: #7f94a5;
    border-width: 1px;
    border-radius: 5px 5px 0px 0px;
    /* border-color: #475d6e; */
    /* background-color: #d9d9d9; */
    color: #3a3a3a;
}

.btnItem{
    width: 100%;
    height: 80px;
    color: #818181;
    border-style: none none solid none;
    background-color: #e6f0f7;
    border-color: #b5c6d3;
}

.btnItem:focus,
.wrap-toggle-pf button:focus {
    border-style: none;
}

.check {
    accent-color: #8284ad;
    border-style: none;
}