.popup-box{
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 10;
}
.popup-inner{
    animation: slide-up cubic-bezier(0.2, 0.2, 0.2, 1) 350ms backwards;
    position: relative;
    top: -50px;
    width:600px;
    height: 600px;
    background-color: #cbd9c6;
    border-radius: 10px;
    border: 1px solid #3d3d3d;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.1);
}
.popup-box[close]{
    pointer-events: none;
    animation: fade-out 250ms forwards;
}

.popup-topbar{
    width:600px;
    height: 35px;
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
    background-color: #9ab392;
    border-bottom: 1px solid #949494;
    position: relative;
}
.popup-topbar label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.popup-topbar button{
    height: 100%;
    width:35px;
    position:absolute;
    right:0;
    border: none;
    border-top-right-radius:10px;
    background-color: #9ab392;
}
.popup-topbar button:hover{
    background-color: #7a8d73;
}

.popup-info-display{
    position: relative;
    padding: 20px;
}
.popup-section1{
    width:43%;
    height: 220px;
    position: absolute;

    border-style: solid;
    border-width: 1px;
    border-color: #869481;
    border-radius: 5px;

    background-color: #d9e4d5;
}
.popup-section1 p{
    padding-right:40px;
    padding-left: 25px;
    text-align: left;
}
.popup-section1 .element-label{
    font-weight: 600;
}
.popup-section1 .info-label{
    font-weight: normal;
    display: inline;
}


.popup-section0{
    width:43%;
    top: 260px;
    height: 50px;
    position: absolute;
}
.popup-section0 button{
    margin: 0px 5px 0px 5px;
    width:100px;
    height:30px;

    background-color: #9ab392;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    touch-action: manipulation;
}
.popup-section0 button:hover, .popup-section0 button:focus {
  background-color: #7a8d73;
}

.popup-section2{
    position:absolute;
    right:20px;
    top:20px;
    width:280px;
    height: 280px;

    
}
.popup-temp{
    font-weight: 100;
    margin-top: 125px;
}

.popup-section3{
    position: absolute;
    bottom: -500px;
    width: 520px;
    height: 220px;
    padding-left: 20px;
    padding-right: 20px;

    border-style: solid;
    border-width: 1px;
    border-color: #869481;
    border-radius: 5px;
    overflow-y: auto;

    background-color: #d9e4d5;
}
.popup-info{
    font-weight: 200;
    text-align: left;
}

/*popup animations*/
@keyframes fade-out {
    100%{
        opacity: 0;
    }
    0%{
        opacity: 1;
    }
}
@keyframes slide-up {
    0%{
        transform: translateY(100%);
    }
    100%{
        opacity: translateY(0%);
    } 
}

