/* font used */
@font-face {
    font-family: 'Armata';
    src: url('../fonts/ArmataHL.otf')
}

/* when document is 768px or less*/
@media only screen and (max-width: 768px) {
    #container {
      flex-direction: column;
    }
}

/*class: outermost div*/
.container {
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 75vw;
    max-width: 100%;
    width: 100%;
    min-height: 480px;
    display: flex;
}

/*TITLE: AQUAPONICS*/
#lh1 {
    z-index: 9327499837025823049830248324920;
    position: relative;
    display: block;
    font-size: large;
    font-family: 'Armata';
    color: #9db8cc;
}

/*class: title when the overlay is on the left*/
.title-left {
    font-family: 'Armata', serif;
    color: white;
    z-index: 2192892000;
    font-size: 20px;
    font-weight: 900;
    /* background-color:black; */
}

/*class: title when the overlay is on the right*/
.title-right {
    font-family: 'Armata', serif;
    color: #9db8cc;
    z-index: 2192892000;
    font-size: 20px;
    font-weight: 900;
}

/***commenting this out vvv (arrows)***/
/*classes: form for both login and create*/
/* .sign-in-container form,
.sign-up-container form{
    flex: 1;
    box-sizing: border-box;
    width: 50%;
} */

/*trying something vvv */
/* .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
} */

/*(\(^.^)/) LOGIN (\(^.^)/)*/

/*id: login title*/
#lh2{
    font-family: 'Armata', serif;
    font-size: 5vw;
    color: #9db8cc;
    font-weight: bolder;
    text-align: left;
    margin-left: 50%x;
    margin-bottom: 7vh;
    margin-top: 10vh;

}

/*id: div holding login and create*/
#login-create-overlay {
    display: flex;
    flex-direction: row;
    background-color: #cfcfcf;
    width: 80vw;
    margin-left: 10vw;
    height: 70vh;
    margin-top: 10vh;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

/*class: login and create forms*/
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

/*class: holds login form*/
.sign-in-container {
    width: 40vw;
    height: 70vh;
    z-index: 3;
    background-color: #ffffff;
    /* box-shadow: 0px 0px 10px #788996; */
    box-shadow: 1px 2px 15px gray,  10px 10px 10px gray, 0px 0px 0px gray;
    opacity: 1;
    top: 0vh;
    border-radius: 20px 0px 0px 20px;
}

/*class: login div */
.Login {
    align-items: center;
    display: flex;
    text-align: left;
    width: 45vw;
    height: 70vh;
    border-radius: 20px 0px 0px 20px;
}

/*class: form holding login*/
.log-in {
    background-color: transparent;
    display: flex;
    flex: auto;
    align-items: center;
    flex-direction: column;
    padding: 0 2.6vw;
	height: 100%;
	text-align: center;
    position: relative;
    width: 35vw;
    height: 70vh;
}

/*-> EMAIL*/

/*id: div that holds email input textbox */
#em {
    margin-bottom: -10px;
}

/*id: input box for email*/
#lt1{
    background-color: white;
    border-style: none none solid none;
    padding: 1vh 1vw 1vh 4vw;
    width: 22vw;
    height: 25px;
    align-self: flex-start;
}

/*id: email icon*/
#l-email-icon {
    color: #868686;
    height: 5px;
    width: 5px;
    padding: 4px;
    position: relative;
    box-sizing: border-box;
    left: 0.3vw;
    top: -4vh;
    display: flex;
}

/*-> PASSWORD*/

/*id: div that holds the password input textbox */
#pw {
    margin-bottom: 25px;
    position: relative;
}

/*id: input box for password*/
#lt2{
    background-color: white;
    border-style: none none solid none;
    padding: 1vh 1vw 1vh 4.25vw;
    width: 22vw;
    height: 25px;
    align-self: flex-start;
    position: relative;
}

/*id: Password Icon*/
#l-password-icon {
    color: #868686;
    height: 5px;
    width: 5px;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    left: 2%;
    top: 65%;
    transform: translateY(-275%);
}

/*id: eye icon button for visibility of password SAME vvvvvvvv*/
#eye-icon {
    color: #868686;
    height: 5px;
    width: 5px;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 27%;
    left: 90%;
}

/*class: class that holds the eye icon button SAME ^^^^^^^^*/
.eye-icon {
    position: absolute;
    top: 72%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

/*-> SUBMIT BUTTON*/

/*class:for login submit button*/
.button-login {
    font-family: 'Armata', sans-serif;
    font-size: 25px;
    background-color: #9db8cc;
    color: white;
    border: none;
    border-radius: 24px;
    height: 50px;
    width: 175px;
    cursor: pointer;
}

.button-login:focus {
    outline: none;
}

/*id: hover over button*/
#lb1:hover {
    background-color: #83a0b6;
    transition: 0.4s;
}

/*(\(^.^)/) CREATE (\(^.^)/)*/

/****form-container is in login****/

/*class: div holding sign up create, same class in form-container*/
.sign-up-container {
    width: 40vw;
    z-index: 5;
    height: 70vh;
    background-color: #5a8b34;
    /* box-shadow: 2px 0px 2px 2px #788996; */
    /* box-shadow: 0px 0px 0px gray,  10px 10px 10px gray, 0px 0px 0px gray, 5px 5px 5px gray; */
    border-radius: 0px 20px 20px 0px;
}

/*id: div, same component as sign-up-container above*/
#create-column {
    z-index: 3;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    flex: 0.5 1;
    align-items: center;
    opacity: 1;
    height: 70vh;
    width: 40vw;
    left: 50%;
    top: 0vh;
}

/*class: div holding create*/
.Create {
    align-items: center;
    display: flex;
    text-align: left;
    width: 40vw;
    height: 70vh;
}

/*class: form holding create*/
.side-by-side {
    display: flex;
    flex-direction: column;
    flex: auto;
    /* justify-content: center; */
    margin: auto;
    background-color: transparent;
    z-index: 3;
    align-items: center;
    width: 40vw;
    height: 70vh;
    box-shadow: 1px 2px 15px gray,  10px 10px 10px gray, 0px 0px 0px gray;
}

/*id: form holding create*/
#create {
    border-radius: 0px 20px 20px 0px;
}

/*id: h2 containing create title*/
#ch1 {
    font-family: 'Armata', serif;
    color: #9db8cc;
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    padding: 7vh 1vh;
    margin: 0;
}

/*-> NAME*/

/*id: div that holds the name input*/
#name {
    font-family: 'Armata', 'serif';
    font-size: 40px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    display: block;
    height:6vh
}

/*id: input box for name*/
#cf1 {
    background-color: #ffffff;
    padding: 1vh 1vw 1vh 4.25vw;
    width: 22vw;
    height: 25px;
    align-self: flex-start;
    position: relative;
    border-style: none none solid none;
}

#cf1::placeholder {
    color: #868686;
    font-weight: bolder;
}

/* id: div that holds the name icon*/
#name-icon {
    color: #868686;
    height: auto;
    width: 10vw;
    padding: 4px;
    position: relative;
    box-sizing: border-box;
    top: -4vh;
    left: 0.5vw;
    font-size: large;
}

/*-> EMAIL*/

/* id: div holding the email input*/
#email {
    font-family: 'Armata', 'serif';
    font-size: 40px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    display: block;
    top: 0vh;
    position: relative;
}

/*id: input box for email*/
#cf2 {
    background-color: #ffffff;
    padding: 1vh 1vw 1vh 4.25vw;
    width: 22vw;
    height: 25px;
    align-self: flex-start;
    position: relative;
    border-style: none none solid none;
}

#cf2::placeholder {
    color: #868686;
    font-weight: bolder;
}

/* id: div that holds the email icon*/
#email-icon {
    color: #868686;
    height: 10px;
    width: 10px;
    padding: 4px;
    position: relative;
    box-sizing: border-box;
    top: -4vh;
    left: 0.55vw;
    font-size: medium;
}

/*-> PASSWORD*/

/* id: div holding the password input*/
#password {
    font-family: 'Armata', 'serif';
    font-size: 40px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    display: block;
    /* top: -3vh;
    left: 0.2vw; */
    position: relative;
    display: flex;
}

/*id: input box for password*/
#cf3 {
    background-color: #ffffff;
    padding: 1vh 1vw 1vh 4.25vw;
    width: 22vw;
    height: 25px;
    align-self: flex-start;
    position: relative;
    border-style: none none solid none;

}

#cf3::placeholder {
    color: #868686;
    font-weight: bolder;
}

/*id: div that holds the password icon*/
#password-icon {
    color: #868686;
    height: 5px;
    width: 5px;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    left: 0.3vw;
    top: 1vh;
    font-size: large;
}

/*-> CONFIRM PASSWORD*/

/* id: div holding confirm password input*/
#confirm-password {
    font-family: 'Armata', 'serif';
    font-size: 40px;
    color: #ffffff;
    font-weight: lighter;
    text-align: left;
    display: block;
    /* margin-bottom: 0px; */
    position: relative;
}

/*id: input box for confirm password*/
#cf4 {
    background-color: #ffffff;
    padding: 1vh 1vw 1vh 4.25vw;
    width: 22vw;
    height: 25px;
    align-self: flex-start;
    position: relative;
    border-style: none none solid none;
    /* margin-top: auto; */
    top: 0vh;
}

#cf4::placeholder {
    color: #868686;
    font-weight: bolder;
}

/*id: div that holds the confirm password icon*/
#cpassword-icon {
    color: #868686;
    height: 5px;
    width: 5px;
    padding: 4px;
    position: relative;
    box-sizing: border-box;
    top: -3.5vh;
    left: 0.5vw;
    font-size: large;
}

/*-> CREATE BUTTON*/

/*id: for create button*/
#button-create {
    font-family: 'Armata', sans-serif;
    font-size: 25px;
    background-color: #9db8cc;
    color: white;
    border: none;
    border-radius: 24px;
    height: 50px;
    width: 175px;
    cursor: pointer;
}

#button-create:hover {
    background-color: #83a0b6;
    transition: 0.4s;
}

/*(\(^.^)/) OVERLAY (\(^.^)/)*/

/*class: div that holds the overlay*/
.o-panel {
    /* opacity: 0; */
    font-family: 'Armata', serif;
    color: #ffffff;
    font-size: xx-large;
    background: #9db8cc;
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.8s ease-in-out, border-radius 0.4s ease-in-out;
    flex: 0.5 0.5;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
    z-index: 25;
    
    /*trying*/
    /* left: 100% */
}

.o-panel::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: inherit;
    border-radius: inherit;
    z-index: -1;
    transition: inherit;
    
}

/*class: div that holds the overlay*/
.o-content {
    transform: translateX(0);
    border-radius: 20px 0px 0px 20px;
    z-index: 7;
}

/*class: title when on the left side*/
.aqua-title-overlay {
    font-family: 'Armata', serif;
    color: white;
    z-index: 2192892000;
    font-size: 20px;
    font-weight: 550;
    position: absolute;
    top: 0;
}

/*id: overlay title when on left*/
#overlay-title {
    letter-spacing: 3px;
    font-weight: bolder;
}

/*-> LEFT*/

/*class: div that moves the overlay to the left*/
.slide-left {
    transform: translateX(0);
    border-radius: 20px 0px 0px 20px;
    z-index: 6;
}

/*classes: changes border radius*/
.o-panel.slide-left::before {
    border-radius: 20px 0px 0px 20px;

    /*trying*/
    left:100%
}

/*-> RIGHT*/

/*class: div that moves the overlay to the right*/
.slide-right {
    transform: translateX(95%);
    border-radius: 0px 20px 20px 0px;
    z-index: 6;
}

/*classes: changes border radius*/
.o-panel.slide-right::after {
    border-radius: 0px 20px 20px 0px;
}

/*-> BUTTON*/

/*class: for submit create button*/
.ghost {
    background-color: transparent;
    border: solid 1px;
    border-color: white;
    border-radius: 20px;
    width: 30%;
    color: white;
    font-family: 'Armata', 'serif';
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 1px;
}

.ghost:hover {
    background-color: #83a0b6;
}

