h1 {
    color: white;
}

#userIcon{
    width: 80px;
    height: 80px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 3vw;
    margin-left: 5px;
    object-fit: cover;
    float: right;
    border: 4px solid rgb(157, 184, 231);
    border-radius: 30%;
}
  
.nav-dropdwn{
    display: none;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-top: 75px;
    width: 100vw;
}

#navhome:hover{
    background-color: #08398d;
    transition: 0.4s;
}
  
#navfish:hover{
    background-color: #08398d;
    transition: 0.4s;
}
  
#navinfo:hover{
    background-color: #08398d;
    transition: 0.4s;
}
  
#navsettings:hover{
    background-color: #08398d;
    transition: 0.4s;
}
  
.navbar{
    display: block;
    width: 100vw;
    height: 100px;
    overflow: visible;
    background-color: #0844ac;
    margin-bottom: 30px;
    text-align: right;
    position:fixed;
    z-index: 1;
    top: 0;
}
  
#nav-button{
    display: block;
    overflow: hidden;
    background-image: url(../pictures/nav-button-icon.png);
    background-color: transparent;
    width: 100px;
    height: 100px;
    border:none;
    background-repeat: no-repeat;
    background-position: 10px center;
    float: left;
}
  
#navhome {
    background-image: url(../pictures/home.png);
    background-color: #0844ac;
    background-size: 70px 70px;
    margin-right: 50vw;
    width: 50vw;
    height: 150px;
    padding: 0;
    border-color: #083d97;
    border-width: 2px;
    border-style: solid solid none solid;
    background-position: left center;
    background-position-x: 3vw;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
  
#navfish {
    background-image: url(../pictures/fish.png);
    background-color: #0844ac;
    background-size: 75px 75px;
    margin-right: 50vw;
    width: 50vw;
    height: 150px;
    padding: 0;
    border-color: #083d97;
    border-width: 2px;
    border-style: solid solid none solid;
    background-position: left center;
    background-position-x: 3vw;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
  
#navinfo {
    background-image: url(../pictures/info.png);
    background-color: #0844ac;
    background-size: 70px 70px;
    margin-right: 50vw;
    width: 50vw;
    height: 150px;
    padding: 0;
    border-color: #083d97;
    border-width: 2px;
    border-style: solid solid none solid;
    background-position: left center;
    background-position-x: 3vw;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
  
#navsettings {
    background-image: url(../pictures/gear.png);
    background-color: #0844ac;
    background-size: 75px 75px;
    margin-right: 50vw;
    width: 50vw;
    height: 150px;
    padding: 0;
    border-color: #083d97;
    border-width: 2px;
    border-style: solid solid none solid;
    background-position: left center;
    background-position-x: 3vw;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

#nav-text{
    float: left;
    margin-left: 15vw;
}
  
#nav-button:hover{
    background-color: #08398d;
    transition: 0.4s;
}