body{
    background-color: #f8f8f9;
}
.nav-dropdwn button h1 {
    color: white;
}

#userIcon{
    width: 70px;
    height: 70px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 5vw;
    margin-left: 5px;
    object-fit: cover;
    float: right;
    z-index: 2;
    border: 3px solid #fff;
    position: relative;
    top: 5%;
    border-radius: 50%;
    cursor: pointer;
}

#userIcon:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
}
.wrap-nav-dropdown{
    display: none;
    overflow: hidden;
    z-index: 1; 
    position: relative;
    width: 100vw;
}
.nav-dropdwn{
    transition: transform 0.3s ease;
    transform: translateY(-100%);
}
.nav-dropdwn.active {
    transform: translateY(0); 
}
#nav-title{
    color:#fff;
    position: relative;
    font-size: 50px;
    margin-top: 15px;
    text-align: left;
    height: 85px;
    margin-left: 8.5vw;
    margin-right: 20vw;
    overflow: hidden;
}
#navhome:hover{
    background-color: #474973;
    transition: 0.4s;
}
  
#navfish:hover{
    background-color: #474973;
    transition: 0.4s;
}
  
#navinfo:hover{
    background-color: #474973;
    transition: 0.4s;
}
  
#navsettings:hover{
    background-color: #474973;
    transition: 0.4s;
}
  
.navbar{
    display: block;
    width: 100vw;
    height: 100px;
    overflow: visible;
    background-color: #222021;
    margin-bottom: 30px;
    text-align: right;
    position: fixed;
    z-index: 2; 
    top: 0;
}
  
#nav-button{
    display: block;
    overflow: hidden;
    background-image: url(../pictures/nav-button-icon.png);
    background-color: transparent;
    width: 100px;
    height: 100px;
    border:none;
    background-repeat: no-repeat;
    background-position: 10px center;
    float: left;
}
  
#navhome {
    background-image: url(../pictures/home.png);
    background-color: #222021;
    background-size: 70px 70px;
    margin-right: 50vw;
    width: 50vw;
    height: 150px;
    padding: 0;
    border-color: #474973;
    border-width: 3px;
    border-style: solid solid none none;
    background-position: left center;
    background-position-x: 3vw;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
  
#navfish {
    background-image: url(../pictures/fish.png);
    background-color: #222021;
    background-size: 75px 75px;
    margin-right: 50vw;
    width: 50vw;
    height: 150px;
    padding: 0;
    border-color: #474973;
    border-width: 3px;
    border-style: solid solid none none;
    background-position: left center;
    background-position-x: 3vw;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
  
#navinfo {
    background-image: url(../pictures/info.png);
    background-color: #222021;
    background-size: 70px 70px;
    margin-right: 50vw;
    width: 50vw;
    height: 150px;
    padding: 0;
    border-color: #474973;
    border-width: 3px;
    border-style: solid solid none none;
    background-position: left center;
    background-position-x: 3vw;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
  
#navsettings {
    background-image: url(../pictures/gear.png);
    background-color: #222021;
    background-size: 75px 75px;
    margin-right: 50vw;
    width: 50vw;
    height: 150px;
    padding: 0;
    border-color: #474973;
    border-width: 3px;
    border-style: solid solid solid none;
    background-position: left center;
    background-position-x: 3vw;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

#nav-text{
    float: left;
    margin-left: 15vw;
}
  
#nav-button:hover{
    background-color: #474973;
    transition: 0.4s;
}