#warning {
    display:none;
    background-color: rgb(123, 164, 97);
}

.settings {
    height: calc(100vh - 83px - 2vmin);
    margin-top: calc(83px + 2vmin);
    overflow-y: auto;
}

.switch {
    position: relative;
    width: 30px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bebcbc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 15px;
    border:1px solid #5f5f5fbd;
}

.slider.round::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -3px;
    bottom: -3px;
    background-color: white;
    border: 2px solid #5f5f5f;
    -webkit-transition: .2s;
    transition: 0.2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: rgb(123, 164, 97);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(123, 164, 97);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.switch {
    display: inline-block;
    text-align: right;
}

.outerbox-s {
    width: 80%;
    height:auto;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    position:relative;
    z-index: 0;
}

#st1 {
    color: #545454; 
    z-index: inherit; 
    position: relative;
    text-align: left;
}
#st4{
    color: #545454;
    z-index: inherit; 
    position: relative;
    text-align: left;
    margin: 20px 25px 20px 25px;
}
.range-titles{
    color: #545454;
    text-align: left;
    margin: 30px 1vw 35px 2vw;
    font-weight: 600;
}
.wp {
    margin-top: -20px;
    text-align: left;
    color: #545454;
}
.wq{
    margin-top: -20px;
    margin-left: 25px;
    text-align: left;
    color: #545454;
}
.sbuttons{
    /* background-color: #222021; */
    padding: 8px 10px;
    border: 1px solid #7f94a5;
    width: 120px;
    transition-duration: 0.4s;
    margin: 20px 0px 5px 5px;
    border-radius: 5px;
    font-weight: bold;
}
.sbuttons:hover {
    background-color: #5094cc;
}
.save-range{
    text-align: right;
    margin-right: 7.5vw;
}

.save-range button {
    background-color: #94a7b6;
}

.save-range button:hover {
    background-color: #7b97ad;
}
.wrap-sb1{
    width: 96%;
    text-align: right;
    margin-right: 7.5vw;
}
#addtime{
    background-color: #95ac8c;
    padding: 8px 10px;
    /* border: 2px solid #8da781; */
    width: 120px;
    transition-duration: 0.4s;
    margin: 20px 0px 5px 5px;
    border-color: #687962;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    font-weight: bold;
}
.sbuttons2{

    height: 25px;
    width: 20px;
}

/*wrappers*/
.wrap-title-toggle{
    display: flex;
    align-items: center;
}
.wrap-range{
    background-color: #bdd0df;
    padding-left: 80px;
    padding-right: 80px; 
    padding-bottom: 15px;
    padding-top: 1px;
    position:relative;   
    border: 1px solid #7f94a5;
    border-radius: 5px;
    z-index: 0;
}
.wrap-ec{padding-top:25px;}
.wrap-temp{padding-top:25px;}
.save-range{padding-top:50px;}

.wrap-timers{
    background: #cbd9c6;
    top: 10px;
    padding-left: 80px;
    padding-right: 80px; 
    padding-bottom: 15px;
    padding-top: 1px;
    position:relative;   
    border-color: #869481;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}
.wrap-timezone{
    padding-bottom: 30px;
}
.wrap-timezone select{
    font-size: 18px;
    width: 18vw;
    padding: 5px;
    color: #222021;
}
.wrap-timezone button {
    background-color: #95ac8c;
    border-color: #687962;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}

.wrap-timezone button:hover {
    background-color: #709758;
}

.wrap-feed button {
    background-color: #95ac8c;
    border-color: #687962;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}

.wrap-feed button:hover {
    background-color: #709758;
}

.wrap-led button {
    background-color: #95ac8c;
    border-color: #687962;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}

.wrap-led button:hover {
    background-color: #709758;
}

.wrap-feed{
    padding-bottom: 30px;
    margin-bottom: 10px;
    border-color: #869481;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background: #d9e4d5;
}
.wrap-bns{
    display:flex;
    flex-direction: row;
}
.wrap-af{
    font-size: 18px;
    width:fit-content;
    position: relative;
    text-align: left;
    margin-left: 5vw;
}

.wrap-aff {
    font-size: 18px;
    width: 25vw;
    position: relative;
    text-align: left;
    padding: auto;
}
#dots{
    width: 10px;
    padding-left: 5px;
}
.ftb p{
    display: grid;
    align-content: center;
    justify-content: start;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
}
.ftb select{
    font-size: 18px;
    width: 8vw;
    margin: 5px;
}

.ftb1 {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    width: 100%;
}

.ftb1 p {
    width: 50px;
}

.ftb1 select {
    height: fit-content;
    margin-top:20px;
    font-size: 18px;
    width: 8vw;
}

#wrap1 {
    display:none;
}

#wrap2 {
    display:none;
}

#wrap3 {
    display:none;
}
.wrap-led{
    padding-bottom: 30px;
    margin-bottom: 10px;
    padding-top: 1px;
    border-color: #869481;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background: #d9e4d5;
}

/*tick markings PH*/
#tick-marks-ph {
    display:flex; 
    justify-content:space-between; 
    width:100%; 
    border-radius:5px;
}
#tick-marks-ph p {position:relative; display:flex; justify-content:center; text-align:center; width:1px; top:6px; 
    background:#5f5f5f; height:10px; line-height:40px; margin:0 7.5px 0 7.5px;}

#tick-interval1-ph {display:flex; justify-content:space-evenly; width:calc(50% - 7.5px); margin-left:7.5px;}
#tick-interval1-ph p {position:relative; display:flex; width:1px; top:-20px; background:#5f5f5f; height:5px; line-height:10px;}

#tick-interval2-ph {display:flex; justify-content:space-evenly; width:calc(50% - 7.5px); margin-left:calc(50%); margin-top:-37px;}
#tick-interval2-ph p {position: relative; display: flex; width: 1px; top:-20px; background: #5f5f5f; height: 5px; line-height: 10px;}

/*tick markings EC*/
#tick-marks-ec {display:flex; justify-content:space-between; width:100%; border-radius:5px;}
#tick-marks-ec p {position:relative; display:flex; justify-content:center; text-align:center; width:1px; top:6px; 
    background:#5f5f5f; height:10px; line-height:40px; margin:0 7.5px 0 7.5px;}

#tick-interval1-ec {display:flex; justify-content:space-evenly; width:calc(20% - 2.9px); margin-left:7.5px;}
#tick-interval1-ec p {position:relative; display:flex; width:1px; top:-20px; background:#5f5f5f; height:5px; line-height:10px;}

#tick-interval2-ec {display:flex; justify-content:space-evenly; width:calc(20% - 2.9px); margin-left:calc(20% + 7.5px - 2.9px); margin-top:-37px;}
#tick-interval2-ec p {position: relative; display: flex; width: 1px; top:-20px; background: #5f5f5f; height: 5px; line-height: 10px;}

#tick-interval3-ec {display:flex; justify-content:space-evenly; width:calc(20% - 2.9px); margin-left:calc(40% + 7.5px - 5.8px); margin-top:-37px;}
#tick-interval3-ec p {position: relative; display: flex; width: 1px; top:-20px; background: #5f5f5f; height: 5px; line-height: 10px; }

#tick-interval4-ec {display:flex; justify-content:space-evenly; width:calc(20% - 2.9px); margin-left:calc(60% + 7.5px - 8.7px); margin-top:-37px;}
#tick-interval4-ec p {position: relative; display: flex; width: 1px; top:-20px; background: #5f5f5f; height: 5px; line-height: 10px; }

#tick-interval5-ec {display:flex; justify-content:space-evenly; width:calc(20% - 2.9px); margin-left:calc(80% + 7.5px - 11.4px); margin-top:-37px;}
#tick-interval5-ec p {position: relative; display: flex; width: 1px; top:-20px; background: #5f5f5f; height: 5px; line-height: 10px; }

/*tick markings EC*/
#tick-marks-temp {display:flex; justify-content:space-between; width:100%; border-radius:5px;}
#tick-marks-temp p {position:relative; display:flex; justify-content:center; text-align:center; width:1px; top:6px; 
    background:#5f5f5f; height:10px; line-height:40px; margin:0 7.5px 0 7.5px;}

/*Range Slider*/
.range-slider{
    height: 5px;
    border-radius: 5px;
    position: relative;
    background: #f2f2f2;
    margin-left: 7vw;
    margin-right: 7vw;
}
.range-slider .progress-ph{
    height: 5px;
    border-radius: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    background: rgb(123, 164, 97);
}

.range-slider .progress-ec{
    height: 5px;
    border-radius: 5px;
    left: 40%;
    right: 40%;
    position: absolute;
    background: rgb(123, 164, 97);
}
.range-slider .progress-temp{
    height: 5px;
    border-radius: 5px;
    left: 20%;
    right: 20%;
    position: absolute;
    background: rgb(123, 164, 97);
}

.range-input{
    position: relative;
}
.range-input input{
    position: absolute;
    top: -4px;
    left: -1.8px;
    height: 10px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: var(--color, rgb(123, 164, 97));
}
input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: var(--color, rgb(123, 164, 97));
}