.wp {
    left: 0;
    margin-top: 5vh;
    margin-left: 8.75vh;
    float: left;
    justify-content: flex-start;
    position: absolute;
    color: #545454;
}

.tz {
    left: 0;
    margin-top: -2.5vh;
    margin-left: 8.75vh;
    float: left;
    justify-content: flex-start;
    position: absolute;
    color: #545454;
}

.ft-caption {
    left: 0;
    margin-top: -2.5vh;
    margin-left: 6.9vw;
    float: left;
    justify-content: flex-start;
    position: absolute;
    color: #545454;
}

#warning {
    display:none;
    background-color: rgb(123, 164, 97);
}

.settings {
    height: calc(100vh - 83px - 2vmin);
    margin-top: calc(83px + 2vmin);
    overflow-y: auto;
}

.feedswitch {
    position: relative;
    width: 30px;
    height: 15px;
    margin-top: -4.5vh;
    margin-left: 11vw;
}

.switch {
    position: relative;
    width: 30px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#cs4 {
    width: 15vw;
    right: 10vw;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 1;
}

.slider.round {
    border-radius: 15px;
    height: 15px;
    width: 30px;
    margin-bottom: 1vh;
}

.slider.round::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .2s;
    transition: 0.2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: rgb(123, 164, 97);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(123, 164, 97);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.switch {
    display: inline-block;
    text-align: right;
}

.outerbox-s {
    width: 80%;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    position:relative;
    z-index: 0;
}

#st1 {
    color: #545454; 
    z-index: inherit; 
    position: relative;
    text-align: left;
}

#st2 {
    color: #545454; 
    z-index: inherit; 
    position: relative;
    text-align: left;
    margin-left: 2vw;
}

.range-titles{
    color: #545454;
    text-align: left;
    margin: 30px 1vw 35px 2vw;
    font-weight: 500;
}


/*wrappers*/
.wrap-title-toggle{
    display: flex;
    align-items: center;
}
.wrap-range{
    background: #ffffff;
    padding-left: 80px;
    padding-right: 80px; 
    padding-bottom: 15px;
    padding-top: 1px;
    position:relative;   
    border: 1.5px solid #d1d1d1;
    border-radius: 5px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}
.wrap-ec{padding-top:25px;}
.wrap-temp{padding-top:25px;}
.save-range{padding-top:50px;}

.wrap-timers{
    background: #ffffff;
    top: 10px;
    padding-left: 80px;
    padding-right: 80px; 
    padding-bottom: 15px;
    padding-top: 1px;
    position:relative;   
    border: 1.5px solid #d1d1d1;
    border-radius: 5px;
}
.wrap-timezone{
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.timezone {
    margin-top: 3vh;
    margin-left: 15vw;
}

.wrap-feed{
    padding-bottom: 30px;
    margin-bottom: 10px;
    border: 1.5px solid #e0e0e0;
    border-radius: 5px;
    background: #e0e0e0;
}

.feedTimes {
    display: none;
    flex-direction: column;
}

#wrap1,
#wrap2,
#wrap3 {
    display: none;
    margin-left: 38%;
    width: 15px;
}

#wrap1 {
    display:none;
    margin-left: 38%;
    margin-top: -25px;
}

#wrap2 {
    display:none;
    margin-left: 38%;
}

#wrap3 {
    display:none;
    margin-left: 38%;
}

/* .wrap-first p {
    width: 15vw;
} */

.wrap-led{
    padding-bottom: 30px;
    margin-bottom: 10px;
    padding-top: 1px;
    border: 1.5px solid #000;
    border-radius: 5px;
    background: #c4c2c2;
}

/*tick markings PH*/
#tick-marks-ph {display:flex; justify-content:space-between; width:100%; border-radius:5px;}
#tick-marks-ph p {position:relative; display:flex; justify-content:center; text-align:center; width:1px; top:6px; 
    background:#5f5f5f; height:10px; line-height:40px; margin:0 7.5px 0 7.5px;}

#tick-interval1-ph {display:flex; justify-content:space-evenly; width:calc(50% - 7.5px); margin-left:7.5px;}
#tick-interval1-ph p {position:relative; display:flex; width:1px; top:-20px; background:#5f5f5f; height:5px; line-height:10px;}

#tick-interval2-ph {display:flex; justify-content:space-evenly; width:calc(50% - 7.5px); margin-left:calc(50%); margin-top:-37px;}
#tick-interval2-ph p {position: relative; display: flex; width: 1px; top:-20px; background: #5f5f5f; height: 5px; line-height: 10px;}

/*tick markings EC*/
#tick-marks-ec {display:flex; justify-content:space-between; width:100%; border-radius:5px;}
#tick-marks-ec p {position:relative; display:flex; justify-content:center; text-align:center; width:1px; top:6px; 
    background:#5f5f5f; height:10px; line-height:40px; margin:0 7.5px 0 7.5px;}

#tick-interval1-ec {display:flex; justify-content:space-evenly; width:calc(20% - 2.9px); margin-left:7.5px;}
#tick-interval1-ec p {position:relative; display:flex; width:1px; top:-20px; background:#5f5f5f; height:5px; line-height:10px;}

#tick-interval2-ec {display:flex; justify-content:space-evenly; width:calc(20% - 2.9px); margin-left:calc(20% + 7.5px - 2.9px); margin-top:-37px;}
#tick-interval2-ec p {position: relative; display: flex; width: 1px; top:-20px; background: #5f5f5f; height: 5px; line-height: 10px;}

#tick-interval3-ec {display:flex; justify-content:space-evenly; width:calc(20% - 2.9px); margin-left:calc(40% + 7.5px - 5.8px); margin-top:-37px;}
#tick-interval3-ec p {position: relative; display: flex; width: 1px; top:-20px; background: #5f5f5f; height: 5px; line-height: 10px; }

#tick-interval4-ec {display:flex; justify-content:space-evenly; width:calc(20% - 2.9px); margin-left:calc(60% + 7.5px - 8.7px); margin-top:-37px;}
#tick-interval4-ec p {position: relative; display: flex; width: 1px; top:-20px; background: #5f5f5f; height: 5px; line-height: 10px; }

#tick-interval5-ec {display:flex; justify-content:space-evenly; width:calc(20% - 2.9px); margin-left:calc(80% + 7.5px - 11.4px); margin-top:-37px;}
#tick-interval5-ec p {position: relative; display: flex; width: 1px; top:-20px; background: #5f5f5f; height: 5px; line-height: 10px; }

/*tick markings EC*/
#tick-marks-temp {display:flex; justify-content:space-between; width:100%; border-radius:5px;}
#tick-marks-temp p {position:relative; display:flex; justify-content:center; text-align:center; width:1px; top:6px; 
    background:#5f5f5f; height:10px; line-height:40px; margin:0 7.5px 0 7.5px;}

/*Range Slider*/
.range-slider{
    height: 5px;
    border-radius: 5px;
    position: relative;
    background: #ebebeb;
    margin-left: 7vw;
    margin-right: 7vw;
}
.range-slider .progress-ph{
    height: 5px;
    border-radius: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    background: rgb(123, 164, 97);
}

.range-slider .progress-ec{
    height: 5px;
    border-radius: 5px;
    left: 40%;
    right: 40%;
    position: absolute;
    background: rgb(123, 164, 97);
}
.range-slider .progress-temp{
    height: 5px;
    border-radius: 5px;
    left: 20%;
    right: 20%;
    position: absolute;
    background: rgb(123, 164, 97);
}

.range-input{
    position: relative;
}
.range-input input{
    position: absolute;
    top: -4px;
    left: -1.8px;
    height: 10px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: var(--color, rgb(123, 164, 97));
}
input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: var(--color, rgb(123, 164, 97));
}