
.user-details{
  background-color: #f8f8f9;
    width: 170px;
    padding: 5px 30px 20px 30px;
    height:200px;
    z-index: 2;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    top: 115px;
    right: 4.6vw;
    text-align: left;
    animation: dropDown 0.3s ease-in-out;
    border: 3px solid #000000;
}

.user-details::before{
    content: '';
    position: absolute;
    top: -14px;
    right:35px;
    width: 20px;
    height: 20px;
    background-color: #f8f8f9;
    transform: rotate(45deg);
    border-style: solid none none solid;
    border-color: #000000;
    border-width: 3px;
}
.user-details[close]{
    pointer-events: none;
    animation: fade-out 100ms forwards;
}

.use-logout{
    align-items: center;
}

.ntitle{
    font-weight: bold;
}

.etitle{
    font-weight: bold;
}
.wrap-logout{
    text-align: center;
}
.use-logout{
    background-color: #222021;
    padding: 10px 10px;
    border: 2px solid #222021;
    width: 100px;
    transition-duration: 0.4s;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.use-logout:hover {
    background-color: #aaadda;
    color: #222021;
    
}

@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
  @keyframes dropDown {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Translate up by 20px */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Back to the original position */
    }
  }