.App {
  text-align: center;
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  overflow-x: scroll;
  position: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: white;
}

#userIcon{
  width: 80px;
  height: 80px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 30px;
  margin-left: 5px;
  object-fit: cover;
  float: right;
  border: 4px solid rgb(157, 184, 231);
}

.navbar{
  overflow: visible;
}

.nav-dropdwn{
  display: none;
  transition: height 0.2s ease-in-out;
  z-index: 1;
  position: relative;
  margin-top: 75px;
  overflow: hidden;
  width: 100vw;
}

#navhome:hover{
  background-color: #08398d;
  transition: 0.4s;
}

#navfish:hover{
  background-color: #08398d;
  transition: 0.4s;
}

#navinfo:hover{
  background-color: #08398d;
  transition: 0.4s;
}

#navsettings:hover{
  background-color: #08398d;
  transition: 0.4s;
}

.navbar{
  display: block;
  width: 100vw;
  height: 100px;
  overflow: visible;
  background-color: #0844ac;
  margin-bottom: 30px;
  text-align: right;
}

#nav-button{
  display: block;
  overflow: hidden;
  background-image: url(./pictures/nav-button-icon.png);
  background-color: transparent;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  border: none;
  background-position: 10px center;
  float: left;
}

#navhome {
  background-image: url(./pictures/home.png);
  background-color: #0844ac;
  width: 100vw;
  height: 150px;
  padding: 0;
  background-position: right;
  background-position-x: 70vw;
  background-repeat: no-repeat;
  border: none;
  z-index: 1;
  position: relative;
}

#navfish {
  background-image: url(./pictures/fish.png);
  background-color: #0844ac;
  width: 100vw;
  height: 150px;
  padding: 0;
  background-position: right;
  background-position-x: 70vw;
  background-repeat: no-repeat;
  border: none;
  z-index: 1;
  position: relative;
}

#navinfo {
  background-image: url(./pictures/info.png);
  background-color: #0844ac;
  width: 100vw;
  height: 150px;
  padding: 0;
  background-position: right;
  background-position-x: 70vw;
  background-repeat: no-repeat;
  border: none;
  z-index: 1;
  position: relative;
}

#navsettings {
  background-image: url(./pictures/gear.png);
  background-color: #0844ac;
  width: 100vw;
  height: 150px;
  padding: 0;
  background-position: right;
  background-position-x: 70vw;
  background-repeat: no-repeat;
  border: none;
  z-index: 1;
  position: relative;
}

#nav-text{
  float: left;
  margin-left: 10vw;
}

#nav-button:hover{
  background-color: #08398d;
  transition: 0.4s;
}